<div class="uk-background-center uk-height-large uk-width-expand uk-background-primary">
  <div class="uk-container uk-position-center">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container uk-overlay ">
        <img
          src="https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
          alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
        <div class="uk-column-1-1 uk-position-center">

          <p class="uk-text-center uk-light uk-h1">
            Bem-vindo!

          </p>
        </div>
        <div class="uk-column-1-1 uk-position-bottom-center">
          <p class="uk-text-center uk-light">
            Ainda não tem cadastro?
            <br> <a [routerLink]="['/signup']" class="uk-button uk-button-link uk-text-capitalize">Cadastre-se</a>
          </p>
        </div>
      </div>
      <div>
        <div class="uk-card-body">
          <div>
            <br>
            <app-loading *ngIf="busy"></app-loading>

            <form [formGroup]="form" *ngIf="!busy">
              <div class="uk-card uk-card-body">

                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input uk-form-large" formControlName="username" type="text"
                      placeholder="Nome de Usuário"
                      [ngClass]="{'uk-form-danger': (!form.controls.username.valid && !form.controls.username.pristine) }">
                  </div>
                </div>
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: sign-in"></span>
                    <input class="uk-input uk-form-large" formControlName="password" type="password"
                      placeholder="Senha">
                  </div>
                </div>
                <p class="uk-text-center" *ngIf="!busy">
                  <br>
                  <button class="uk-button uk-width-1-1 uk-button-large uk-button-primary uk-margin-small-bottomt"
                    [disabled]="form.invalid" (click)="submit()">Entrar</button>

                </p>
                <p class="uk-text-center" *ngIf="!busy">
                  <a [routerLink]="['/reset-password']" class="uk-button uk-button-link">Esqueci minha senha</a>
                </p>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
