<div class="uk-background-primary uk-light" uk-sticky="bottom: #offset">
  <div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left uk-visible@m">
        <a class="uk-navbar-item uk-logo" href="/">
          Loja X
        </a>
        <ul class="uk-navbar-nav">
          <li>
            <a class="uk-text-capitalize">Departamentos <span class="uk-icon uk-margin-small-left"
                uk-icon="icon: triangle-down"></span></a>
            <div class="uk-width-1-2" uk-dropdown>
              <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
                <div>
                  <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header uk-text-bold uk-text-capitalize"><a [routerLink]="['/c/casa']">Casa</a>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <!--<li class="uk-active"><a href="#">Active</a></li>-->
                    <li><a [routerLink]="['/sc/eletrodomesticos']">Eletrodomésticos</a></li>
                    <li><a [routerLink]="['/sc/moveis']">Móveis</a></li>
                    <li><a [routerLink]="['/sc/decoracao']">Decoração</a></li>
                    <li><a [routerLink]="['/sc/cama-mesa-banho']">Cama, Mesa e Banho</a></li>
                  </ul>
                </div>
                <div>
                  <ul class="uk-nav uk-dropdown-nav ">
                    <li class="uk-nav-header uk-text-bold uk-text-capitalize"><a
                        [routerLink]="['/c/smartphones-e-comunicacao']">Celulares
                        & Comunicação</a></li>
                    <li class="uk-nav-divider"></li>
                    <!--<li class="uk-active"><a href="#">Active</a></li>-->
                    <li><a [routerLink]="['/sc/celulares-e-smartphones']">Celulares e Smartphones</a></li>
                    <li><a [routerLink]="['/sc/tablets']">Tablets</a></li>
                    <li><a [routerLink]="['/sc/acessorios']">Acessórios</a></li>
                    <li><a [routerLink]="['/sc/carregadores']">Carregadores</a></li>
                  </ul>
                </div>
                <div>
                  <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header uk-text-bold uk-text-capitalize"><a
                        [routerLink]="['/c/eletronicos']">Eletronicos</a></li>
                    <li class="uk-nav-divider"></li>
                    <!--<li class="uk-active"><a href="#">Active</a></li>-->
                    <li><a [routerLink]="['/sc/tv-e-video']">TVs</a></li>
                    <li><a [routerLink]="['/sc/audio']">Áudio</a></li>
                  </ul>
                </div>
                <div>
                  <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header uk-text-bold uk-text-capitalize"><a
                        [routerLink]="['/c/informatica']">Informática</a></li>
                    <li class="uk-nav-divider"></li>
                    <!--<li class="uk-active"><a href="#">Active</a></li>-->
                    <li><a [routerLink]="['/sc/notebooks']">Notebooks</a></li>
                    <li><a [routerLink]="['/sc/monitores']">Monitores</a></li>
                    <li><a [routerLink]="['/sc/pc-gamer']">PC Gamer</a></li>
                    <li><a [routerLink]="['/sc/pecas-e-componentes']">Peças e Componentes</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li><a class="uk-text-capitalize" [routerLink]="['/sc/celulares-e-smartphones']">Smarphones</a></li>
          <li><a class="uk-text-capitalize" [routerLink]="['/sc/tv-e-video']">Tv & Vídeo</a></li>
          <li><a class="uk-text-capitalize" [routerLink]="['/c/informatica']">Informática</a></li>


        </ul>

      </div>
      <div class="uk-navbar-right uk-visible@m">
        <ul class="uk-navbar-nav">
          <li>
            <a [routerLink]="['/dashboard']">
              <button class="uk-button uk-button-default">Dashboard</button>
            </a>
          </li>
          <li>
            <a [routerLink]="['/account/cart']">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
            </a>
          </li>

          <li>
            <a class="uk-text-capitalize" [routerLink]="['/account']">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
              Nome
            </a>
          </li>

          <li>
            <a [routerLink]="['/login']">
              <!--(click)="logout()"-->
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
            </a>
          </li>
        </ul>


      </div>
      <a class="uk-navbar-toggle uk-hidden@m" uk-toggle="target: #offcanvas-overlay">
        <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left"></span>
      </a>
    </nav>

    <!--Menu Canvas-->
    <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
      <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>


        <h3>Title</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>

      </div>
    </div>



  </div>
</div>


<!---->
