<div class="uk-background-primary uk-light" uk-sticky="bottom: #offset">
  <div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left uk-visible@m">
        <a class="uk-navbar-item uk-logo" href="/dashboard">
          Dashboard
        </a>
        <ul class="uk-navbar-nav">
          <li>
            <a class="uk-text-capitalize">
              Financeiro <span class="uk-icon uk-margin-small-left" uk-icon="icon: triangle-down"></span>

            </a>
            <div class="uk-width-large" uk-dropdown>
              <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
                <div>
                  <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header uk-text-bold uk-text-capitalize">Cadastros</li>
                    <li class="uk-nav-divider"></li>
                    <!--<li class="uk-active"><a href="#">Active</a></li>-->
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/costumers']">Clientes</a></li>
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/users']">Usuários</a></li>
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/payment']">Formas de Pagamento</a></li>
                  </ul>
                </div>
                <div>
                  <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header uk-text-bold uk-text-capitalize">Relatórios</li>
                    <li class="uk-nav-divider"></li>
                    <!--<li class="uk-active"><a href="#">Active</a></li>-->
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/balance']">Balanço</a></li>
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/finance-ar']">Contas a Receber</a></li>
                  </ul>
                </div>

              </div>
            </div>
          </li>
          <li>
            <a class="uk-text-capitalize">Faturamento<span class="uk-icon uk-margin-small-left"
                uk-icon="icon: triangle-down"></span></a>
            <div class="uk-width-large" uk-dropdown>
              <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
                <div>
                  <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header uk-text-bold uk-text-capitalize">Relatórios</li>
                    <li class="uk-nav-divider"></li>
                    <!--<li class="uk-active"><a href="#">Active</a></li>-->
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/sales']">Vendas</a></li>
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/sales-by-costumers']">Vendas Por
                        Cliente</a></li>
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/charts']">Gráficos</a></li>
                  </ul>
                </div>

              </div>
            </div>
          </li>
          <li>
            <a class="uk-text-capitalize">Estoque <span class="uk-icon uk-margin-small-left"
                uk-icon="icon: triangle-down"></span></a>
            <div class="uk-width-large" uk-dropdown>
              <div class="uk-dropdown-grid uk-child-width-1-2@m" uk-grid>
                <div>
                  <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header uk-text-bold uk-text-capitalize">Cadastros</li>
                    <li class="uk-nav-divider"></li>
                    <!--<li class="uk-active"><a href="#">Active</a></li>-->
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/products']">Produtos</a></li>
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/products-category']">Categorias</a>
                    </li>
                  </ul>
                </div>
                <div>
                  <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header uk-text-bold uk-text-capitalize">Relatórios</li>
                    <li class="uk-nav-divider"></li>
                    <!--<li class="uk-active"><a href="#">Active</a></li>-->
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/products-stock']">Inventário</a></li>
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/products-stock-mov']">Movimentação</a>
                    </li>
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/products-inactive']">Produtos
                        Inativos</a></li>
                  </ul>
                </div>


              </div>
            </div>
          </li>

        </ul>

      </div>
      <div class="uk-navbar-right uk-visible@m">
        <ul class="uk-navbar-nav">
          <li>
            <a [routerLink]="['/']">
              <button class="uk-button uk-button-default">Voltar para o site</button>
            </a>
          </li>
          <li>
            <a>
              <div class="uk-inline">
                <button class="uk-button uk-button-default" type="button"><span
                    uk-icon="icon:  triangle-down"></span></button>
                <div uk-dropdown="pos: bottom-left">
                  <ul class="uk-nav uk-dropdown-nav">
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/my-account']">Minha conta</a></li>
                    <li><a class="uk-text-capitalize" [routerLink]="['/dashboard/settings']">Configurações</a></li>
                    <li><a class="uk-text-capitalize" [routerLink]="['/login']">Sair</a></li>
                  </ul>
                </div>
              </div>
            </a>
          </li>

        </ul>
      </div>

      <a class="uk-navbar-toggle uk-hidden@m" uk-toggle="target: #offcanvas-overlay">
        <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left"></span>
      </a>
    </nav>



    <!--Menu Canvas-->
    <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
      <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>


        <h3>Title</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>

      </div>
    </div>



  </div>
</div>


<!---->
