<div class="container uk-margin-small-top uk-margin-bottom">
  <a>Decoração</a>
  <br><br>
  <div class="uk-grid uk-grid-small uk-child-width-1-4@s uk-text-center" uk-grid>
    <app-card-products-transparent></app-card-products-transparent>
    <app-card-products-transparent></app-card-products-transparent>
    <app-card-products-transparent></app-card-products-transparent>
    <app-card-products-transparent></app-card-products-transparent>
    <app-card-products-transparent></app-card-products-transparent>
    <app-card-products-transparent></app-card-products-transparent>
    <app-card-products-transparent></app-card-products-transparent>
    <app-card-products-transparent></app-card-products-transparent>
    <app-card-products-transparent></app-card-products-transparent>
    <app-card-products-transparent></app-card-products-transparent>
    <app-card-products-transparent></app-card-products-transparent>
    <app-card-products-transparent></app-card-products-transparent>
  </div>
</div>
