<!--Section Slide Products-->
<div class="uk-section uk-section-primary">
  <div class="uk-container">
    <div class="uk-width-expand@m">
      <div uk-slideshow="min-height: 300; max-height: 400; animation: push; autoplay: true">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

          <ul class="uk-slideshow-items">
            <li>
              <img src="https://picsum.photos/900" alt="" uk-cover>
            </li>
            <li>
              <img src="https://picsum.photos/900" alt="" uk-cover>
            </li>
            <li>
              <img src="https://picsum.photos/900" alt="" uk-cover>
            </li>
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slideshow-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slideshow-item="next"></a>
        </div>
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </div>
</div>

<!--Section OFF Sales -->
<div class="uk-section uk-section-muted uk-dark">
  <div class="uk-container ">
    <h2>as melhores ofertas</h2>
    <br>
    <div uk-slider>
      <div class="uk-position-relative">

        <div class="uk-slider-container uk-dark">
          <ul class="uk-slider-items uk-child-width-1-4@m uk-grid uk-grid-small">
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
          </ul>
        </div>

        <div class="uk-hidden@s uk-light">
          <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

        <div class="uk-visible@s">
          <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
          <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
      </div>
    </div>

    <!-- <div uk-slider="center: false">
      <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1">
        <ul class="uk-slider-items uk-child-width-1-4@s uk-grid uk-grid-small">
          <li>
            <app-card-products-default></app-card-products-default>
          </li>
          <li>
            <app-card-products-default></app-card-products-default>
          </li>
          <li>
            <app-card-products-default></app-card-products-default>
          </li>
          <li>
            <app-card-products-default></app-card-products-default>
          </li>
          <li>
            <app-card-products-default></app-card-products-default>
          </li>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
          uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
          uk-slider-item="next"></a>
      </div>

    </div>-->
  </div>
</div>
<br><br>

<!--Section Category 1-->
<div class="uk-container ">
  <h2><span>som & imagem</span></h2>
  <hr>
  <br>
  <div uk-slider>
    <div class="uk-position-relative">

      <div class="uk-slider-container uk-dark">
        <ul class="uk-slider-items uk-child-width-1-4@m uk-grid uk-grid-small">
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
        </ul>
      </div>


      <div class="uk-hidden@s uk-light">
        <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous
          uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>

      <div class="uk-visible@s">
        <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous
          uk-slider-item="previous"></a>
        <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>

    </div>

  </div>

</div>
<br>

<!--Section Category 2-->
<div class="uk-container ">
  <h2><span>gamer</span></h2>
  <hr>
  <br>
  <div uk-slider>
    <div class="uk-position-relative">

      <div class="uk-slider-container uk-dark">
        <ul class="uk-slider-items uk-child-width-1-4@m uk-grid uk-grid-small">
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
          <li>
            <app-card-products-transparent></app-card-products-transparent>
          </li>
        </ul>
      </div>

      <div class="uk-hidden@s uk-light">
        <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous
          uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>

      <div class="uk-visible@s">
        <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous
          uk-slider-item="previous"></a>
        <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
      </div>

    </div>

  </div>
</div>
<br>

<!--Os mais vendidos-->
<div class="uk-section uk-section-muted uk-dark">
  <div class="uk-container ">
    <h2>os mais vendidos</h2>
    <br>
    <div uk-slider>
      <div class="uk-position-relative">

        <div class="uk-slider-container uk-dark">
          <ul class="uk-slider-items uk-child-width-1-4@m uk-grid uk-grid-small">
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
            <li>
              <app-card-products-default></app-card-products-default>
            </li>
          </ul>
        </div>

        <div class="uk-hidden@s uk-light">
          <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

        <div class="uk-visible@s">
          <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous
            uk-slider-item="previous"></a>
          <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

      </div>

    </div>


  </div>
</div>

<!--rodape-->
<div class="uk-section uk-section-primary">
  <div class="uk-container">
    <div class="uk-child-width-1-4@s uk-grid">
      <div class="uk-width-1-3@s uk-width-1-3@m">
        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header">Menu 1</li>
          <li><a href="#">Item</a></li>
          <li><a href="#">Item</a></li>
          <li class="uk-nav-divider"></li>
          <li><a href="#">Item</a></li>
        </ul>
      </div>
      <div class="uk-width-1-3@s uk-width-1-3@m">
        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header">Menu 2</li>
          <li><a href="#">Item</a></li>
          <li><a href="#">Item</a></li>
          <li class="uk-nav-divider"></li>
          <li><a href="#">Item</a></li>
        </ul>
      </div>
      <div class="uk-width-1-3@s uk-width-1-3@m">
        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header">Menu 3</li>
          <li><a href="#">Item</a></li>
          <li><a href="#">Item</a></li>
          <li class="uk-nav-divider"></li>
          <li><a href="#">Item</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
