.container1 {
  background-color: #808080;
  opacity: 0.7;
}

.container2 {
  background-color: #1a6600;
  opacity: 0.7;
}

.container3 {
  background-color: #e62e00;
  opacity: 0.7;
}

.container4 {
  background-color: #ff9900;
  opacity: 0.7;
}
