<div class="uk-margin-left uk-margin-right uk-margin-small-top uk-margin-small-bottom">
  <div uk-grid>
    <div class="uk-width-1-4@m">
      <div class="container1 uk-card uk-card-body uk-border-rounded">1-3</div>
    </div>
    <div class="uk-width-1-4@m">
      <div class="container2 uk-card uk-card-body uk-border-rounded">1-3</div>
    </div>
    <div class="uk-width-1-4@m">
      <div class="container3 uk-card uk-card-body uk-border-rounded">1-3</div>
    </div>
    <div class="uk-width-1-4@m">
      <div class="container4 uk-card uk-card-body uk-border-rounded">1-3</div>
    </div>
  </div>
  <div uk-grid>
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-card-body">1-3
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-card-body">1-3
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>

  <div uk-grid>
    <div class="uk-width-1-3@m">
      <div class="uk-margin-bottom uk-card uk-card-default uk-card-body">1-3
        <br>
        <br>
        <br>
      </div>
      <div class="uk-card uk-card-default uk-card-body">1-3
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="uk-width-1-3@m">
      <div class="uk-card uk-card-default uk-card-body">1-3 <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="uk-width-1-3@m">
      <div class="uk-card uk-card-default uk-card-body">1-3
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>


</div>
