<div class="uk-container uk-margin-top">
  <nav class="uk-margin-small-bottom" uk-navbar>
    <div class="uk-navbar-left ">
      <ul class="uk-navbar-nav">
        <ul class="uk-iconnav">
          <li><a href="" uk-icon="icon: home; ratio: 1"></a></li>
          <li><a uk-icon="icon: chevron-right; ratio: 1"></a></li>
          <li><a><span class="uk-text-lighter">TV e Vídeo</span></a></li>
        </ul>
      </ul>
    </div>
  </nav>
  <div class="uk-text-large">
    <h2>Smart TV Crystal UHD 4K LED 50” Samsung - 50TU8000 Wi-Fi Bluetooth</h2>
  </div>
  <div class="uk-navbar-left uk-text-normal uk-text-muted">
    <ul class="uk-navbar-nav">
      <ul class="uk-iconnav">
        <li>Código: 01245454</li>
        <li>|</li>
        <li><a>Samsung</a></li>

      </ul>
    </ul>
  </div>

  <div class="uk-card uk-card-muted uk-grid uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img
        src="https://a-static.mlcdn.com.br/618x463/smart-tv-crystal-uhd-4k-led-50-samsung-50tu8000-wi-fi-bluetooth-hdr-3-hdmi-2-usb/magazineluiza/225605700/60c4f7f417868cd933aca8928d5db17f.jpg"
        alt="" width="600" height="400" uk-center>
      <!--<canvas width="100" height="400"></canvas>-->
    </div>
    <div>
      <div class="uk-card-body">
        <div class="uk-margin-small-bottom">
          <span class="fa fa-star fa-lg checked"></span>&nbsp;
          <span class="fa fa-star fa-lg checked"></span>&nbsp;
          <span class="fa fa-star fa-lg checked"></span>&nbsp;
          <span class="fa fa-star fa-lg checked"></span>&nbsp;
          <span class="uk-text-secondary  uk-text-normal"> (159) 4.0 </span>&nbsp;
          <a><span class="uk-text-secondary  uk-text-normal"> <u>Avaliar Produto</u></span></a>

        </div>
        <div>
          <span class="max-lines uk-text-muted  uk-text-normal">De: {{ (699.90/100) | currency: 'BRL' }}</span>
        </div>
        <div>
          <span class="uk-text-bold uk-text-secondary  uk-text-large">
            <h2>{{ 699.90/100 | currency: 'BRL' }}</h2>
          </span>
        </div>
        <div>
          <span class="max-lines uk-text-secondary  uk-text-normal">ou em 10x de
            {{ ((699.90/100) / 10) | currency: 'BRL' }} sem juros</span>
        </div>
        <div>
          <br>
          Calcular Frete:
          <div class="uk-margin-small-top">
            <input class="uk-input uk-form-width-medium" type="text" placeholder="00000-000">
            <button class="uk-button uk-button-default"><a uk-icon="search"></a></button>&nbsp;&nbsp;
            <a><span class="uk-text-secondary  uk-text-normal"> <u>Consultar o CEP</u></span></a>
          </div>
        </div>
        <br>
        <div class="uk-margin-small-top">
          <button class="uk-button uk-button-primary uk-width-1-1 uk-button-large uk-text-capitalize">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
            Adicionar ao carrinho
          </button>
        </div>


      </div>
    </div>
  </div>

  <br>
  <div class="uk-text-large uk-text-primary">
    informações do produto
  </div>
  <hr>
  <br>
  <div>
    <span>Smart TV 4K UHD D-LED 55” Philco PTV55Q20SNBL - Wi-Fi HDR 3 HDMI 2 USB </span><br><br>

    <span>
      Assistir TV é bom não é mesmo? Smart TV chegou para ficar, devido a sua praticidade e aos inúmeros recursos
      incríveis que você consegue acessar, por isso, esse modelo conquistou o mundo. Afinal hoje além de ver seus
      programas favoritos, dá para assistir séries e filmes, vídeos, ouvir músicas, genial né, e sem falar que dá para
      navegar pela internet e muito mais. A Smart TV PTV55Q20SNBL da Philco de 55'' com conversor digital integrado, é
      fabricada com tecnologia D-LED e resolução 4K, o que proporciona uma experiência de qualidade. O sistema
      operacional
      é o Linux, com conectividade Wireless integrado e vêm com as conexões de 01 entrada de vídeo estéreo (RCA), 02
      entradas HDMI, 01 entrada HDMI (ARC)2, 01 entrada RF para TV aberta (Digital e Analógica) e TV a cabo, 01 entrada
      USB 2.0 e 01 entrada USB 3.0: reproduz filmes, músicas e fotos, 01 entrada S/PDIF out Optical, 01 entrada
      Ethernet.
      Ainda conta com os recursos de HDR, funções Smart, busca automática de canais e BorderLess, que traz uma borda de
      linha infinita, deixando sua experiência com esse modelo ainda mais dinâmica e com alta performance. Agora que já
      sabe mais sobre esse excelente produto, não perca essa oportunidade e adquira qualidade e diversão para o seu
      lar.
    </span>
  </div>
  <br>
  <br>
  <div>
    <table class="uk-table uk-table-striped">
      <thead>
        <tr>
          <th>Informações Técnicas</th>
          <th>Marca/Modelo</th>
          <th>Outros</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="uk-text-bold">Tela</td>
          <td>Resolução/Formato de Tela</td>
          <td>3840x2160 <br> 16:9</td>
        </tr>
        <tr>
          <td class="uk-text-bold">Imagem</td>
          <td>Recursos de imagem</td>
          <td>
            Processador gráfico Triple-Core <br>
            Ajustes de temperatura de cor <br>
            Equalizadores de som e imagem
            predefinidos <br>
            SDR para HDR: corrige imagem para melhor performance</td>
        </tr>
        <tr>
          <td class="uk-text-bold">Energia</td>
          <td>Voltagem</td>
          <td>Bivolt</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <br>
</div>
<!--rodape-->
<div class="uk-section uk-section-primary">

</div>
