<div class="uk-container uk-margin-top">
  <nav class="uk-margin-small-bottom" uk-navbar>
    <div class="uk-navbar-left ">
      <ul class="uk-navbar-nav">
        <ul class="uk-iconnav">
          <li><a href="" uk-icon="icon: home; ratio: 1"></a></li>
          <li><a uk-icon="icon: chevron-right; ratio: 1"></a></li>
          <li><a><span class="uk-text-lighter">TV e Vídeo</span></a></li>
        </ul>
      </ul>
    </div>
  </nav>
  <div class="uk-text-large">
    <h2>Smart TV Crystal UHD 4K LED 50” Samsung - 50TU8000 Wi-Fi Bluetooth</h2>
  </div>
  <div class="uk-navbar-left uk-text-normal uk-text-muted">
    <ul class="uk-navbar-nav">
      <ul class="uk-iconnav">
        <li>Código: 01245454</li>
        <li>|</li>
        <li><a>Samsung</a></li>

      </ul>
    </ul>
  </div>

  <div class="uk-card uk-card-muted uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img
        src="https://a-static.mlcdn.com.br/618x463/smart-tv-crystal-uhd-4k-led-50-samsung-50tu8000-wi-fi-bluetooth-hdr-3-hdmi-2-usb/magazineluiza/225605700/60c4f7f417868cd933aca8928d5db17f.jpg"
        alt="" uk-center>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <div class="uk-margin-small-bottom">
          <span class="fa fa-star fa-lg checked"></span>&nbsp;
          <span class="fa fa-star fa-lg checked"></span>&nbsp;
          <span class="fa fa-star fa-lg checked"></span>&nbsp;
          <span class="fa fa-star fa-lg checked"></span>&nbsp;
          <span class="uk-text-secondary  uk-text-normal"> (159) 4.0 </span>&nbsp;
          <a><span class="uk-text-secondary  uk-text-normal"> <u>Avaliar Produto</u></span></a>

        </div>
        <div>
          <span class="max-lines uk-text-muted  uk-text-normal">De: {{ (699.90/100) | currency: 'BRL' }}</span>
        </div>
        <div>
          <span class="uk-text-bold uk-text-secondary  uk-text-large">
            <h2>{{ 699.90/100 | currency: 'BRL' }}</h2>
          </span>
        </div>
        <div>
          <span class="max-lines uk-text-secondary  uk-text-normal">ou em 10x de
            {{ ((699.90/100) / 10) | currency: 'BRL' }} sem juros</span>
        </div>
        <div>
          <br>
          Calcular Frete:
          <div class="uk-margin-small-top">
            <input class="uk-input uk-form-width-medium" type="text" placeholder="00000-000">
            <button class="uk-button uk-button-default"><a uk-icon="search"></a></button>&nbsp;&nbsp;
            <a><span class="uk-text-secondary  uk-text-normal"> <u>Consultar o CEP</u></span></a>
          </div>
        </div>
        <br>
        <div class="uk-margin-small-top">
          <button class="uk-button uk-button-primary uk-width-1-1 uk-button-large uk-text-capitalize">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
            Adicionar ao carrinho
          </button>
        </div>


      </div>
    </div>
  </div>
</div>

<!--<div class="uk-container ">
  <div>
    <h2>Teste</h2>
  </div>
  <div class="uk-child-width-1-1@m" uk-grid>

    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-card-body">
        <img
          src="https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
          alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
    </div>
    <div class="uk-width-1-2@m">
      <h3>Heading</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>
    </div>
  </div>
</div>-->
