<div class="uk-container uk-margin-top">
  <div class="uk-grid-small" uk-grid>
    <div class="uk-width-1-4@m">
      <div class="uk-card-default uk-card-body">
        <img class="uk-border-circle" src="https://picsum.photos/400" alt="" width="400" height="400" uk-center>
        <br><br>
        <button class="uk-button uk-button-primary uk-width-1-1 uk-button-large uk-text-capitalize">
          Atualizar Foto &nbsp;&nbsp; <span uk-icon="icon:  camera; ratio: 0.8"></span></button>
      </div>
    </div>
    <div class="uk-width-3-4@m">
      <div class="uk-card uk-card-default uk-card-body">
        <form [formGroup]="form">
          <div class="uk-card uk-card-body">
            <div class="uk-heading-line">
              <span>Dados Básicos</span>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input uk-form-large" formControlName="name" type="text" placeholder="Nome"
                  [ngClass]="{'uk-form-danger': (!form.controls.name.valid && !form.controls.name.pristine) }">
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: receiver"></span>
                <input class="uk-input uk-form-large" formControlName="phone" type="text" placeholder="Fone"
                  [ngClass]="{'uk-form-danger': (!form.controls.name.valid && !form.controls.name.pristine) }">
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input class="uk-input uk-form-large" formControlName="email" type="email" placeholder=""
                  [ngClass]="{'uk-form-danger': (!form.controls.email.valid && !form.controls.email.pristine) }">
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: file-text"></span>
                <input class="uk-input uk-form-large" formControlName="document" type="text" placeholder="CPF"
                  mask="###.###.###-##"
                  [ngClass]="{'uk-form-danger': (!form.controls.document.valid && !form.controls.document.pristine) }">
              </div>
            </div>
            <br>
            <div class="uk-heading-line">
              <span>Endereço</span>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: home"></span>
                <input class="uk-input uk-form-large" formControlName="address" type="text" placeholder="Endereço"
                  [ngClass]="{'uk-form-danger': (!form.controls.name.valid && !form.controls.name.pristine) }">
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: location"></span>
                <input class="uk-input uk-form-large" formControlName="city" type="text" placeholder="Cidade"
                  [ngClass]="{'uk-form-danger': (!form.controls.name.valid && !form.controls.name.pristine) }">
              </div>
            </div>
            <button
              class="uk-button uk-width-1-1 uk-button-large uk-button-primary uk-margin-small-bottom uk-text-capitalize">Atualizar
              Informações</button>
            <!--[disabled]="form.invalid"-->

          </div>
        </form>
      </div>

    </div>
  </div>
</div>
